.project
.pydevproject
*.pyc
build/
dist/
jinjasql.egg-info/
venv
*.sqlite3
staticfiles
.env

*.log.*
*.log
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
